<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="p-3" class="w3-sidebar w3-bar-block w3-cadetblue w3-xxlarge" style="background-color: #f9f9f9;">
  <mat-card>
    <img src="assets/img/contact.png" width="130" height="100">
  </mat-card>
  <br>
  <mat-card>
    <img src="assets/img/money.png" width="130" height="100">
  </mat-card>
  <br>
  <mat-card>
    <img src="assets/img/walkthroug3.png" width="130" height="100">
  </mat-card>
</div>
