<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row p-3 fixed-top" style="background-color: #0E7CFF;margin-bottom: 10px">
  <div class="col-sm-2">
    <img src="assets/img/walkthroug1.png" height="50" width="50">
  </div>
  <div class="col-sm-6">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>Gestion d'allocation et de vente de maison by ISCAE</mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-sm-4 pb-1" style="text-align: right; height: 50px">
    <button mat-fab disabled aria-label="Example icon button with a heart icon"
            style="cursor: pointer">
      <mat-icon style="color: #fff" (click)="logOut()">logout</mat-icon>
    </button>
  </div>
</div>
