<div class="row">

  <div class="col-1"></div>
  <div class="col-10">
    <br>
    <mat-card>
      <div align="center">
        <h1 style="color:#0E7CFF">Projet Outils de Developpement en Master Informatique et Gestion</h1>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div align="center">
        <h2>Réalisé par:</h2>
      </div>
      <div align="center">
        <table width="400">
          <tr>
            <td><mat-label>Haddemine Sidi Yahya Hamady</mat-label></td>
            <td><mat-label>IE19282</mat-label></td>
          </tr>
          <tr>
            <td><mat-label>Mohamed M'Beirik</mat-label></td>
            <td><mat-label>IP19289</mat-label></td>
          </tr>
          <tr>
            <td><mat-label>Mbare Mohamed Salem</mat-label></td>
            <td><mat-label>IE19275</mat-label></td>
          </tr>
          <tr>
            <td><mat-label>Mohamed Abdel Wedoud Mohamed Beirouok</mat-label></td>
            <td><mat-label>IE19283</mat-label></td>
          </tr>

        </table>

      </div>
    </mat-card>
    <br>
    <mat-card>

      <div align="center">
        <h2>Encadré par:</h2>
        <mat-label>Dr. Nagi Sidi</mat-label>
      </div>

    <br>


    </mat-card>
  </div>
</div>
