<div class="row">

  <div class="col-1"></div>
  <div class="col-10">
    <div align="center"><img src="../../../../assets/img/walkthroug1.png" height="100" width="100"></div>
    <br>
    <mat-card>
      <mat-card-title>Haddemine Sidi Yahya</mat-card-title>

      <mat-card-subtitle align="end">NNI 5802495575</mat-card-subtitle>
      <mat-card-subtitle>43606064</mat-card-subtitle>
        </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Statistques</mat-card-title>
      <mat-card-subtitle align="end">Transactions</mat-card-subtitle>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <mat-card-title>Préférence</mat-card-title>
      </div>
 <div align="center">
      <mat-card-actions>
        <button mat-button style="background:#F4F4F5">Modifier</button>
        <button mat-button style="background:#0E7CFF">Paramètres</button>
      </mat-card-actions>
 </div>
    </mat-card>
  </div>
</div>
