<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-sidebar w3-bar-block w3-cadetblue w3-xxlarge"  style="color: #0E7CFF;width:80px">


  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('apropos')"><i class="fa fa-home"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('list')"><i class="fa fa-list-alt"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('favoris')"><i class="fa fa-heart"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('ajout')"><i class="fa fa-plus"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('notification')"><i class="fa fa-bell"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('produits')"><i class="fa fa-money"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('statistique')"><i class="fa fa-line-chart"></i></a>

  <a class="w3-bar-item w3-button w3-hover-black"
     (click)="util.navigateByUrl('contactez')"><i class="fa fa-phone"></i></a>

    <a class="w3-bar-item w3-button w3-hover-black"
            (click)="util.navigateByUrl('profile')"><i class="fa fa-user"></i></a>


</div>
