<br>
<mat-card>
  <div class="row">
    <div class="col-10" >
      <h2 style="color:#0E7CFF">Demande d'achat (TVZ) – Nouakchott</h2>
    </div>
    <div class="col-2">
      <mat-card-subtitle>Il y a 1 jour</mat-card-subtitle>
    </div>
  </div>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>book</mat-icon>Informations
  </button>
  <mat-card-actions align="end">
    <button mat-button>Postulez</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <div class="row">
    <div class="col-10" >
      <h2 style="color:#0E7CFF">Demande d'alocation (Liksar) – Nouakchott</h2>
    </div>
    <div class="col-2">
      <mat-card-subtitle>Il y a 4 jour</mat-card-subtitle>
    </div>
  </div>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>book</mat-icon>Informations
  </button>
  <mat-card-actions align="end">
    <button mat-button>Postulez</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <div class="row">
    <div class="col-10" >
      <h2 style="color:#0E7CFF">Demande d'achat (Karafour Madrid) – Nouakchott</h2>
    </div>
    <div class="col-2">
      <mat-card-subtitle>Il y a 1 semain</mat-card-subtitle>
    </div>
  </div>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>book</mat-icon>Informations
  </button>
  <mat-card-actions align="end">
    <button mat-button>Postulez</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <div class="row">
    <div class="col-10" >
      <h2 style="color:#0E7CFF">Demande d'achat (TVZ) – Nouakchott</h2>
    </div>
    <div class="col-2">
      <mat-card-subtitle>Il y a 1 jour</mat-card-subtitle>
    </div>
  </div>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>book</mat-icon>Informations
  </button>
  <mat-card-actions align="end">
    <button mat-button>Postulez</button>
  </mat-card-actions>
</mat-card>

