<br>
<mat-card>
  <div class="row">
    <div class="col-10" >
      <h2 style="color:cadetblue">Maison à vendre (TVZ) – Nouakchott</h2>
    </div>
    <div class="col-2">
      <mat-card-subtitle>Il y a 2 semains</mat-card-subtitle>
    </div>
    <div align="center">
      <img src="assets/img/test2.jpg" height="200" width="500">
    </div>
  </div>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>book</mat-icon>CDI
  </button>
  <mat-card-actions align="end">
    <button mat-button>Postulez</button>
  </mat-card-actions>
</mat-card>
